<%- include("../partials/header") %>

<h1><%= title %></h1>

<% if (locals.messages) { %>
  <div class="notice">
    <%= locals.messages %>
  </div>
<% } %>

<form action="/account/register" method="post" class="register-form">
  <label for="account_firstname">First Name</label>
  <input
    type="text"
    name="account_firstname"
    id="account_firstname"
    required
  >

  <label for="account_lastname">Last Name</label>
  <input
    type="text"
    name="account_lastname"
    id="account_lastname"
    required
  >

  <label for="account_email">Email Address</label>
  <input
    type="email"
    name="account_email"
    id="account_email"
    required
  

  <label for="account_password">Password</label>>

    
  <input
    type="password"
    name="account_password"
    id="account_password"
    required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
  >
<div class="password-rules">
      Password must be at least 12 characters and include:
      <ul>
        <li>1 uppercase letter</li>
        <li>1 lowercase letter</li>
        <li>1 number</li>
        <li>1 special character</li>
      </ul>
    </div>
 

  <button type="submit">Register</button>
</form>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<%- include("../partials/footer") %>
